/bin
/junit
/emma
/emmareports
/binInst
.idea
.gradle
atlassian-ide-plugin.xml
*.iml
*.ipr
*.iws
*.*~
.settings
/build/
/.idea/
/gen/
/src/test/java/org/sdmlib/simple/model/
*.jar
gradle.properties
*.gpg
out/
