<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/SDMLib/src/test/java/org/sdmlib/test/examples/replication/chat/ReplicationChatServer.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.sdmlib.test.examples.replication.chat.ReplicationChatServer"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="zuenFamilyChatServer localhost 11142 albert admin sabine admin tom admin"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="SDMLib"/>
</launchConfiguration>
