BODY {color:#000000;background-color:#ffffff;font-family:Arial,Helvetica,Geneva,Sans-Serif}
B {font-weight:bold;}

H1 {font-family:Arial,Helvetica,Geneva,Sans-Serif;text-align:left;}
H2 {color:#000000;font-family:Arial,Helvetica,Geneva,Sans-Serif;text-align:left;}
H3 {color:#000000;font-family:Arial,Helvetica,Geneva,Sans-Serif;text-align:left;}

P {font-family:Arial,Helvetica,Geneva,Sans-Serif;text-align:left;}
PRE {font-family:Courier;text-align:left;font-size:12pt}

TD {font-family:Arial,Helvetica,Geneva,Sans-Serif;}
TH {font-family:Arial,Helvetica,Geneva,Sans-Serif;}

DD {font-family:Arial,Helvetica,Geneva,Sans-Serif;}

